:root {
    --dodgerblue:linear-gradient(45deg, aqua, dodgerblue, deeppink) fixed;
   --dark-turquoise: 	#00CED1;
    --dark-slate-blue: #483D8B;
    --dark-slate-gray: #2F4F4F;
    --light: #EEE;
    --corn-flower-blue: #6495ED;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Fira sans'sans-serif;
    
}
body {
    background: dodgerblue linear-gradient(45deg, aqua, dodgerblue, deeppink) fixed;   
    font-family: 'Muli',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}