:root {
    --dodgerblue:linear-gradient(45deg, aqua, dodgerblue, deeppink) fixed;
   --dark-turquoise: 	#00CED1;
    --dark-slate-blue: #483D8B;
    --dark-slate-gray: #2F4F4F;
    --light: #EEE;
    --corn-flower-blue: #6495ED;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Fira sans'sans-serif;
    
}
body {
    background: dodgerblue linear-gradient(45deg, aqua, dodgerblue, deeppink) fixed;   
    font-family: 'Muli',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.container{
    background-color: var(--light);
    border-radius: 20px;
    box-shadow: 0px 10px 20px var(--corn-flower-blue)0 6px 6px var(--corn-flower-blue);
    padding: 50px 40px;
    max-width: 100%;
    width: 600px;
    text-align: center;
    margin: auto;

}

h3 {
    margin: 0;
    letter-spacing: 2px;
    opacity:0.9 ;
}
.joke {
    font-size: 30px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
}
.btn {
    background-color: #00CED1;
    border: 0;
    display:inline-block;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 var(--dark-slate-gray)(0,0,0,0.2), 0 6px 20px 0 var(--dark-slate-gray)(0,0,0,0.19);
    color: --light;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 20px;
    padding: 14px 40px;
    
}
.btn:hover {
    background-color: #483D8B; 
    color: white;
  }
